item{
    margin-top:20px;
    list-style-type: none;
    transition: .3s;
    font-weight:bold;
    text-decoration:none;
    color: black;
}

item:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}