.container{
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    box-shadow: 0 3px 7px -1px black;
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    opacity: 0.9;
    margin-top: 90px
}

.second{
    margin-top: 30px;
}

.text{
    line-height: 40px;
}

.column1{
    float: left;
    width: 55%;
    padding: 3%;
}

.column2{
    float: left;
    width: 33%;
    padding: 3%;
    margin-left: 12%;
}

.column3{
    float: left;
    width: 34%;
    padding: 3%;
}

.column4{
    float: right;
    width: 33%;
    padding: 3%;
}

.black_cont{
    height: 45px;
    width: 100%;
    background-color: #24252A;
}