.list {
    display: inline-block;
    transition: .3s;
    font-weight:bold;
    text-decoration:none;
    color: black;
}

.list:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.featureLinks {
    display: inline-block;
    transition: .3s;
    text-decoration: none;
}
.featureLinks:hover {
    transform: rotate(15deg);
    color: green;
}