.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: #21D4FD linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    max-width: 300px;
    text-align: center;
    border-radius: 54px 54px 54px 54px;
    -moz-border-radius: 54px 54px 54px 54px;
    -webkit-border-radius: 54px 54px 54px 54px;
    border: 0px solid #000000;
}

.title {
    color: black;
    font-size: 18px;
}
