
.DrinkLabels {
    font-family: "French Script MT";
    font-size: xx-large;
}
Welcome{
    font-family: "Courier New";
    font-size: xx-large;
}

doIt{
    font-family: "Courier New";
    font-size: x-large;
}

