div.photo {
    width: 40%;
    background: -webkit-linear-gradient(right, #8392AE, #8DC26F);
    background: -moz-linear-gradient(right, #8392AE, #8DC26F);
    background: -o-linear-gradient(right, #8392AE, #8DC26F);
    background: linear-gradient(to left, #8392AE, #8DC26F);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 50px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
    font-family: Harrington;
}