.instructionText{
  position: relative;
    left: 20px;
 background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    width:90%;
    font-size:16px;
    height:10%;
    padding: 30px 32px;

}

.nameText{
  position: relative;
  left: 20px;
  background-color: #ffcfdf;
  background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
  width: 90%;
  transition: width 0.4s ease-in-out;
  font-size:16px;
  padding: 10px 10px;

}

.typeLabel{
    position: relative;
    left: 150px;
     font-size: x-large;
     font-family: Harrington;
}
.typeLabelInst{
    position: relative;
    left: 150px;
     font-size: x-large;
     font-family: Harrington;
}
.cart{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background: #21D4FD linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
        max-width: 40%;
        border-radius: 54px 54px 54px 54px;
        -moz-border-radius: 54px 54px 54px 54px;
        -webkit-border-radius: 54px 54px 54px 54px;
        border: 0px solid #000000;
}